
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.bg-banner{
    width: 100%;
    background-size: cover;
    background: url(../img/bgheader.png);
    padding-bottom: 74px;
    background-attachment: fixed;
    
}
.header-logo{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.wrapper{
    padding-right: 15px;
    padding-left: 15px;
}
.top-header{
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 67px;
    line-height: 67px;
}
.left-header{
    float: left;
}
.right-header{
    float: right; 
}
.font-style{
    font-size: 18px;
    color: white;
}
.font-large{
    font-weight: 500;
    font-size: 53.2px;
    line-height: 62px;
    color: #FFFFFF;
}
.paragraph-font{
    font-weight: normal;
    font-size: 18.2px;
    line-height: 21px;
}
.page-title{
    padding: 112px 63px 9px 0px;
}

.paragraph-padding{
    padding: 0px 27px 12px 0px;
}
.button a{
    background: #F44336;
    box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
    border-radius: 3px;
    text-align: center;
    padding: 19px 34px 19px 36px;
    text-decoration: none;
    color: white;
}
.button{
    margin: 42px 30px 24px 0px;
}
.iconplay{
    margin-right: 8px;
    margin-top: 5px;
}
.bg-container{
    width: 100%;
    background: rgba(138, 136, 136, 0.5);
}
.container{
    width: 95%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    position: relative;
    top: -50px;
    margin: auto;
}
.product{
    padding-top: 94px;

}
.container-padding{
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
}
.font-medium{
    font-style: normal;
    font-weight: normal;
    font-size: 36.4px;
    line-height: 43px;
    color: #3C4858;
}
.font-small{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;

}
.product-title{
    padding-bottom: 38px;;
}
.product-info{
    padding-bottom: 162px;
}
.feature{
    padding-bottom: 110px;
}
.feature-name {
    padding-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.feature-name{
    padding-bottom: 18px;

}
.team-title{
    margin-top: 100px;
    padding-bottom: 86px;

}
.member-name{
    font-style: normal;
    font-weight: 500;
    font-size: 18.2px;
    line-height: 21px;
    padding-bottom: 7px;;
}
.member-title{
    font-style: normal;
    font-weight: 500;
    font-size: 13.65px;
    line-height: 16px;
    padding-bottom: 34px;
    color: #777777;

}
.icons{
    margin-top: 25px;
}
.icon{
    padding-right: 29px;
}
.contact-title{
    margin-top: 185px;
}
.font-medium-small{
   font-style: normal;
    font-weight: 300;
    font-size: 18.2px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}
input{
    width: 100%;
}
input[type=text], input[type=email], input[type=textarea]{
    width: 100%;  
    width: 100%;
    padding: 12px 20px 12px 0px;
    margin-bottom: 52px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(226, 223, 223);
    text-align: left;
}
 input[type=textarea]{
     padding:51px 20px 62px 0px ;
 }
.contact-info {
    padding-top: 37px;
    padding-bottom: 47px;
}
.btn{
    padding: 13px 30px;
    background-color: #9C27B0;
    margin-bottom: 79px;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(226, 223, 223);
}
footer{
margin-top: -40px;
}
.footer-nav{
    margin-bottom: 31px;
}
.footer-nav ul a{
    text-decoration: none;
    color: #333333;
}
.footer-nav ul a li{
    list-style: none;
    float: left;
    text-align: center;
    padding-left: 33px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.copyright{
    display: inline-block;
    margin-bottom: 18px;
    margin-top: 31px;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    color: #000000; 
    width: 100%;
}
.nav-menus,.nav-icons{
    display: none;
}
@media(min-width:768px){
    .bg-banner{
        width: 100%;
        background-size: cover;
    }
    .wrapper{
        padding-left: 24px;
    }
    .nav-logo{
        display: none;
    }
    .right-header{
        width: 50%;
    }
    
    .nav-menus ul a li,.nav-icons ul a li{
        text-decoration: none;
        float: left;
        color: white;
        font-weight: normal;
        font-size: 12px;
        list-style: none;
    }
    .nav-icons ul a li{
        padding-right: 24px;
    }
    .nav-components {
        padding-right: 30px;
    }
    .download-icon{
        padding-right: 5px;
        margin-top: 5px;
    }
    .nav-download{
        padding-right: 24px;
    }
    .nav-menus,.nav-icons{
    display: block;
    }
}

@media(min-width:1200px){
    .top-header{
        background: none;
    }
    .bg-banner{
        width: 100%;
        height: 50vh;
        background: url(../img/desktop_banner.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wrapper{
        padding-left: 150px;
        padding-right: 75px;
    }
    .right-header{
        width: 40%;
    }
    .paragraph-padding,.page-title {
    width: 61%;
    }
    .product-info{
        max-width: 50%;
        margin: auto;
    }
    .feature-container{
        display: flex;
        max-width: 67%;
        margin: auto;
    }
    .feature{
        padding-right: 62px;
    }
    .team-container{
        display: flex;
        max-width: 67%;
        margin: auto;
    }
    .team-member{
        padding-right: 38px;
    }
    .contact{
        width: 47%;
        margin: auto;
    }
    input[type=text], input[type=email]{
        width: 44%;
        margin-right: 28px;
    }
    input[type=textarea]{
        width: 100%;
    }
    input[type=text]{
        border-bottom: 2px solid #9C27B0;;
    }
    input[type=text]::placeholder{
        color: #9C27B0;
    }


    
}

/* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);