
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main-container-wrapper{
    min-height: 100%;
    background-color: #cccccc;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.bg-banner{
    height: 664px;
    color: white;
    padding-top: 174px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner_header.png), #C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.header-logo{
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
.left{
    float: left;
}
.wrap-container{
    padding: 0 15px;
}
.top-header{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0 25px;
}
.right-header{
    float: right; 
}
.menu-btn{
    border: 0;
    width: 22px;
    height: 14px;
    margin-top: 3px;
    cursor: pointer;
    background: url(../img/menu.png) no-repeat center;
}
.font-style{
    font-size: 18px;
    color: white;
}
.font-large{
    font-weight: 500;
    font-size: 53.2px;
    line-height: 62px;
    color: #FFFFFF;
}
.paragraph-font{
    font-weight: normal;
    font-size: 18.2px;
    line-height: 21px;
}
.page-title{
    font-size: 53px;
    font-weight: 500;
    line-height: 62px;
    margin-bottom: 9px;
}

.paragraph-padding{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 42px;
}
.banner-link {
    width: 179px;
    color: white;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    padding: 19px 15px 18px;
    background-color: #F44336;
}
/* .button a{
    background: #F44336;
    box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
    border-radius: 3px;
    text-align: center;
    padding: 19px 34px 19px 36px;
    color: white;
}
.button{
    margin: 42px 30px 24px 0px;
}
.iconplay{
    margin-right: 8px;
    margin-top: -5px;
    vertical-align: middle;
} */
.bg-container{
    width: 100%;
    background: rgba(138, 136, 136, 0.5);
}
.container{
    width: 95%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    position: relative;
    top: -50px;
    margin: auto;
}
.product{
    padding-top: 94px;

}
.container-padding{
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
}
.font-medium{
    font-style: normal;
    font-weight: normal;
    font-size: 36.4px;
    line-height: 43px;
    color: #3C4858;
}
.font-small{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}
.product-title{
    padding-bottom: 38px;;
}
.product-info{
    padding-bottom: 162px;
}
.feature{
    padding-bottom: 110px;
}
.feature-name {
    padding-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.feature-name{
    padding-bottom: 18px;

}
.team-title{
    margin-top: 100px;
    padding-bottom: 86px;

}
.member-name{
    font-style: normal;
    font-weight: 500;
    font-size: 18.2px;
    line-height: 21px;
    padding-bottom: 7px;;
}
.member-title{
    font-style: normal;
    font-weight: 500;
    font-size: 13.65px;
    line-height: 16px;
    padding-bottom: 34px;
    color: #777777;

}
.icons{
    margin-top: 25px;
}
.icon{
    padding-right: 29px;
}
.contact-title{
    margin-top: 185px;
}
.font-medium-small{
   font-style: normal;
    font-weight: 300;
    font-size: 18.2px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}
input{
    width: 100%;
}
input[type=text], input[type=email], input[type=textarea]{
    width: 100%;  
    width: 100%;
    padding: 12px 20px 12px 0px;
    margin-bottom: 52px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(226, 223, 223);
    text-align: left;
}
 input[type=textarea]{
     padding:51px 20px 62px 0px ;
 }
.contact-info {
    padding-top: 37px;
    padding-bottom: 47px;
}
.btn{
    color: white;
    padding: 13px 30px;
    background-color: #9C27B0;
    margin-bottom: 79px;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(226, 223, 223);
    text-transform: uppercase;
}
footer{
margin-top: -40px;
}
.footer-nav{
    margin-bottom: 31px;
}
.footer-nav ul li a{
    text-decoration: none;
    color: #333333;
}
.footer-nav ul li
{
    float: left;
    text-align: center;
    padding-left: 33px;
    font-weight: 500;    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.copyright{
    display: inline-block;
    margin-bottom: 18px;
    margin-top: 31px;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    color: #000000; 
    width: 100%;
}
.nav{
    display: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media(min-width:768px){
    .bg-banner{
        height: 597px;
        background: url(../img/tablet_banner.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wrap-container{
        padding-left: 0 24px;
    }
    .menu-btn{
        display: none;
    }
    /* .right-header{
        width: 50%;
    } */
    .nav-menus{
        float: left;
        margin-top: 5px;
    }
    .nav-menus li{
        float: left;
        margin-right: 30px;
    }
    .nav-menus li a{
        color: white;
        display: inline-block;
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
        text-transform: uppercase
    }
    .nav-menus li:last-child {
        margin-right: 0;
    }
    .nav-menus li img {
        width: 20px;
        margin: -4px 5px 0 0;
        vertical-align: middle;
    }
    .nav-icons{
        float: left;
        margin: 4px 0 0 26px;
    }
    .nav-icons li{
    margin-right: 24px;
    float: left;
    }
    .nav-icons li:last-child {
    margin-right: 0;
    }
    .nav{
    display: block;
    }
}

@media(min-width:1200px){
    .top-header{
        background: none;
    }
    .bg-banner{
        width: 100%;
        height: 726px;
        background: url(../img/desktop_banner.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wrap-container{
        padding: 0;
        margin: 0 auto;
        max-width: 1128px;
    }
    /* .right-header{
        width: 40%;
    } */
    /* .paragraph-padding,.page-title {
    width: 61%;
    } */
    .page-title {
    padding: 146px 63px 9px 0px;
}
    .product-info{
        max-width: 50%;
        margin: auto;
    }
    .feature-container{
        display: flex;
        max-width: 67%;
        margin: auto;
    }
    .feature{
        padding-right: 62px;
    }
    .team-container{
        display: flex;
        max-width: 67%;
        margin: auto;
    }
    .team-member{
        padding-right: 38px;
    }
    .contact{
        width: 47%;
        margin: auto;
    }
    input[type=text], input[type=email]{
        width: 44%;
        margin-right: 28px;
    }
    input[type=textarea]{
        width: 100%;
    }
    input[type=text]:focus{
        border-bottom: 2px solid #9C27B0;
    }
    input[type=text]:focus::placeholder{
        color: #9C27B0;
    }
    .footer-nav{
        float: left;
    }
    .copyright{
        float: right;
        width: auto;
        margin-top: 0px;
    }
    .footer-content{
    max-width: 1122px;
    margin: 0 auto;
    margin-top: 32px;
    }
}
